.container{
    width: 1200px;
    height: 700px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkkhaki;
  }

  .text{
      display: inline;
      text-align: center;
      color: rgb(70, 94, 160);
      background-color: rgb(0, 139, 120);
  }

  .main-menu{
      display: flex;

      padding: 0;
      margin: 0;

      list-style: none;
  }

  .item{
      position: relative;

      margin-right: 30px;
      outline: 3px solid red;
  }

  .main-menu .link{
      display: block;
      padding: 4px 5px;
      text-decoration: none;
      background-color: rosybrown;
  }

.second-menu{
     opacity: 0;

    position: absolute;
    left: 0;
    top: 100%;
    

    width: 100%;

    padding: 0;
    margin: 0;
    outline: 3px solid blue;

    list-style: none;
}

.second-menu .link-second{
    display: block;

    padding: 6px;

    text-decoration: none;

    color: rgb(34, 49, 4);
    background-color: rgb(95, 211, 211);
}

.item:hover .second-menu{
    opacity: 1;
} 